.out_shadow
 .cssbox
  .cssbox_head
   %b= post.title
  .cssbox_body
   .alingleft
    = image_tag post.author.gravatar_url
   %p.post_body= post.body_html.html_safe
   %span.author
    by
    = post.author.name
    %span.published_on
    on
    = post.created_at.strftime("%b %d, %Y")

