%ul
 %li
  .out_shadow
   = link_to "Home", posts_index_path
   = link_to "Create", posts_create_path
   = link_to "Diaspora", "http://diaspora.binaryfreedom.info"
   = link_to "Jabber/XMPP", "http://diaspora.binaryfreedom.info"
   = link_to "Email", "http://diaspora.binaryfreedom.info"
   = link_to "More things", :action => "create"
