%ul
 %li
  .out_shadow
   = link_to "Home", posts_path
   = link_to "Create", new_post_path
   = link_to "Diaspora", "http://diaspora.binaryfreedom.info"
   = link_to "Jabber/XMPP", "http://diaspora.binaryfreedom.info"
   = link_to "Email", "http://diaspora.binaryfreedom.info"
   = link_to "More things", :action => "create"
