!!!
%html{:lang => I18n.locale.to_s}
 %head
  %link{:href => "anarchism_favicon.png", :rel => "icon", :type => "image/png"}/
  %meta{:charset => 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
  = stylesheet_link_tag :all, :recursive => true
  = javascript_include_tag :defaults
  = render 'layouts/googleanalytics' 

%body
 %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#username=cfernandez", :type => "text/javascript"}
 = auto_discovery_link_tag(:rss, "http://www.binaryfreedom.info")
 #notice
  = notice
 #alert
  = alert
 #wrapper
  #header
   #header-logo
    = render 'layouts/header'
   = render 'layouts/header_msg'
  #nav
   = render 'layouts/navigation'
   = render 'layouts/tweets2'
  #main
   = yield
  #footer
   Binaryfreedom.info 2010 Design & Code by Chris Fernandez using Ruby on Rails+Apache+gimp+sass/css
